@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

*{
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
}
:root{
    --redColor:rgb(223, 117, 117);
    --mainColor:#d5d5d552;
}
body{
  font-family: 'Montserrat', sans-serif;
  animation: fadeIn 2s;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none
}

p {
    margin-bottom: 0
}
i{
  font-size: 50px;
  color: var(--redColor);
}
h1{
  color: #000 !important;
}


/* Header start*/
header{
  z-index: 10;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.75);
  
}
.nav-link {
    color: var(--white);
}
.zg-active{
    color: var(--redColor)!important;
    border-radius: 20px;
    border: 1px solid var(--redColor);
}
.active-red{
  color: var(--redColor);
}
.zg-active2{
  color: var(--redColor)!important;
}
.red-color{
    color: var(--redColor);
}
ul li a:hover{
  color: var(--redColor)!important;
}
.logo{
  height:70px;
}
.zg-font1{
  font-family: 'Bad Script', cursive;
  font-size: 25px;
}
.zg-font2{
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 18px;
}
#cover{
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 94.72%, 1.82% 95.00%, 3.64% 95.18%, 5.45% 95.25%, 7.27% 95.21%, 9.09% 95.06%, 10.91% 94.81%, 12.73% 94.46%, 14.55% 94.04%, 16.36% 93.54%, 18.18% 93.01%, 20.00% 92.44%, 21.82% 91.87%, 23.64% 91.32%, 25.45% 90.80%, 27.27% 90.34%, 29.09% 89.96%, 30.91% 89.66%, 32.73% 89.46%, 34.55% 89.37%, 36.36% 89.39%, 38.18% 89.52%, 40.00% 89.76%, 41.82% 90.09%, 43.64% 90.50%, 45.45% 90.98%, 47.27% 91.51%, 49.09% 92.07%, 50.91% 92.64%, 52.73% 93.20%, 54.55% 93.73%, 56.36% 94.20%, 58.18% 94.60%, 60.00% 94.91%, 61.82% 95.13%, 63.64% 95.24%, 65.45% 95.23%, 67.27% 95.12%, 69.09% 94.91%, 70.91% 94.59%, 72.73% 94.19%, 74.55% 93.72%, 76.36% 93.20%, 78.18% 92.64%, 80.00% 92.07%, 81.82% 91.51%, 83.64% 90.98%, 85.45% 90.50%, 87.27% 90.08%, 89.09% 89.75%, 90.91% 89.52%, 92.73% 89.39%, 94.55% 89.37%, 96.36% 89.46%, 98.18% 89.66%, 100.00% 89.96%);}
.carousel-item {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2.6s;
  }

  .zg-btn{
    background-color: #ffffff62;
    color:#000;
    border: 1.5px solid var(--redColor);
  }
  .btn:hover{
    color:#fff;
    background-color: var(--redColor);
  }

  /* Header end*/

/* About start */

  .red{
    font-size: 16px;
    color: var(--redColor);
    font-style: italic;
    font-weight: 400;
}
.zg-text{
  font-family: 'Sacramento', cursive;
  font-size: 45px;
}

.zg-title p{
  font-family: 'Ysabeau SC', sans-serif;
}
/* About end */
.bg-image{
  background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.99)),url(../img/bg.jpg) ;
  height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: transparent;
}
.content{
  flex-direction: column;
  
}
.content h2{
  font-family: 'Bad Script', cursive;
}
.content p{
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 20px;
}
.zg-block p{
  font-family: 'Ysabeau SC', sans-serif;
}
.offer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  padding: 15px;
  transition: all .3s ease-in-out;
}
#offers{
  margin-top: 140px;
}
.offer h2{
  font-size: 25px;
}
.offer:hover{
  box-shadow: 0px 0px 1px 0px;
  transition: all .3s ease-in-out;
  border-radius: 30%;
}
#horses{
  background-color: var(--mainColor);
}

iframe{
  width: 100%;
}

/*footer*/
footer{
  padding-top: 50px;
  background-color: var(--mainColor);
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 4.82%, 1.82% 5.52%, 3.64% 6.20%, 5.45% 6.82%, 7.27% 7.39%, 9.09% 7.88%, 10.91% 8.28%, 12.73% 8.59%, 14.55% 8.78%, 16.36% 8.87%, 18.18% 8.85%, 20.00% 8.71%, 21.82% 8.46%, 23.64% 8.11%, 25.45% 7.67%, 27.27% 7.14%, 29.09% 6.55%, 30.91% 5.90%, 32.73% 5.21%, 34.55% 4.51%, 36.36% 3.80%, 38.18% 3.11%, 40.00% 2.45%, 41.82% 1.84%, 43.64% 1.30%, 45.45% 0.84%, 47.27% 0.47%, 49.09% 0.21%, 50.91% 0.05%, 52.73% 0.00%, 54.55% 0.07%, 56.36% 0.24%, 58.18% 0.53%, 60.00% 0.91%, 61.82% 1.39%, 63.64% 1.94%, 65.45% 2.55%, 67.27% 3.22%, 69.09% 3.91%, 70.91% 4.62%, 72.73% 5.33%, 74.55% 6.01%, 76.36% 6.65%, 78.18% 7.23%, 80.00% 7.75%, 81.82% 8.18%, 83.64% 8.51%, 85.45% 8.74%, 87.27% 8.86%, 89.09% 8.86%, 90.91% 8.76%, 92.73% 8.54%, 94.55% 8.22%, 96.36% 7.80%, 98.18% 7.30%, 100.00% 6.72%);}

.zg-column{
  flex-direction: column;
  flex-wrap: wrap;
}
.zg-size{
  font-size: 1.1rem;
}
#modaldugme{
  border: none;
}
#modaldugme i{
  font-size: 20px;
}

.soc-icons i:hover{
  color: #000000b0;
}
/*Pricing*/
.cover1{
  height: calc(35vh);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 83.33%, 2.00% 83.40%, 4.00% 83.58%, 6.00% 83.90%, 8.00% 84.32%, 10.00% 84.86%, 12.00% 85.50%, 14.00% 86.23%, 16.00% 87.05%, 18.00% 87.93%, 20.00% 88.86%, 22.00% 89.83%, 24.00% 90.83%, 26.00% 91.84%, 28.00% 92.83%, 30.00% 93.81%, 32.00% 94.74%, 34.00% 95.62%, 36.00% 96.43%, 38.00% 97.17%, 40.00% 97.81%, 42.00% 98.34%, 44.00% 98.77%, 46.00% 99.08%, 48.00% 99.27%, 50.00% 99.33%, 52.00% 99.27%, 54.00% 99.08%, 56.00% 98.77%, 58.00% 98.34%, 60.00% 97.81%, 62.00% 97.17%, 64.00% 96.43%, 66.00% 95.62%, 68.00% 94.74%, 70.00% 93.81%, 72.00% 92.83%, 74.00% 91.84%, 76.00% 90.83%, 78.00% 89.83%, 80.00% 88.86%, 82.00% 87.93%, 84.00% 87.05%, 86.00% 86.23%, 88.00% 85.50%, 90.00% 84.86%, 92.00% 84.32%, 94.00% 83.90%, 96.00% 83.58%, 98.00% 83.40%, 100.00% 83.33%);
}
#middle-pricing{
  margin-top: 120px;
  margin-bottom: 120px;
}
.item-top,.item-title{
  width: 100%;
}
.line{
    border-bottom: 1px dotted #828383;
    width: 98%;
    position: relative;
    bottom: 6px;
}
.bold{
 font-weight: 600; 
 color: #292727;
}
.breadcrumb{
  margin: 0;
  display: inline-flex;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50px;
  padding: 9px 30px;
  padding-bottom: 12px;
}
.breadcrumb a{
 list-style: none;
 color: #fff;
}

/*Contact*/
.bg-cont{
  background-color: var(--mainColor);
}
.bg-cont p, .bg-cont h2{
  margin-bottom: 1rem;
}
.bg-cont h2{
  font-family: 'Bad Script', cursive;
}
h1{
  font-family: 'Bad Script', cursive;
}
#middle-contact{
  margin-top: 120px;
  margin-bottom: 120px;
}
/*Gallery*/
.gallery-container {
  max-width: 100%;
  overflow-x: auto;
  transition: 0.3s ease-in-out;
}
.gallery-container:hover {
  transform: scale(1.075);
}
#middle-gallery{
  margin-top: 100px;
  margin-bottom: 100px;
}
/*About*/
#middle-about, #middle-author{
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Author*/
#middle-author h3{
  font-family: 'Bad Script', cursive;
}
